*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: #fff;
  padding: 32px 48px;
  border-radius: 10px;
  height: 500px;
  width: 100%;
  max-width: 500px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.container h2 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 5px;
  margin: 5px 5px 20px 5px;
  color: #081f5c;
}

.container>form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container div label {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  color: #081f5c;
}

.container div input {
  font-size: 16px;
  font-weight: normal;
  text-decoration: normal;
  width: 100%;
  height: 40px;
  padding: 5px 5px;
  border: 1px solid #081f5c;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

.container button {
  max-width: 100%;
  height: 40px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #081f5c;
  color: white;
  font-size: 18px;
  font-weight: medium;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: #081f5c;
  border: 2px solid #081f5c;
  animation: zoomIn 0.5s ease-in-out;
}

.container span {
  max-width: 100%;
  height: 40px;
  font-size: 16px;
  gap: 10px;
  color: black;
  display: flex;
  place-items: center;
}

.container span .link {
  color: #081f5c;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #081f5c;
  padding: 5px;
  border-radius: 2px;
}

span .link:hover {
  background-color: #081f5c;
  color: white;
  animation: zoomIn 0.5s ease-in-out;
}

@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0.5;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}